<footer class="footer small">
  <div class="col-md-6 text-center bgc">
    <h4> Our main office:</h4>
    <p>Gooday Cars - North
      <br>Haifa Hahistadrut 3</p>
  </div>
  <div class="col-md-6 text-center bgc">
    <h4>Contact information:</h4>
    <a href="mailto:someone@example.com">
      <span class="glyphicon glyphicon-envelope"></span> someone@example.com</a>
    <br>
    <a href="tel:1234567">
      <span class="glyphicon glyphicon-phone-alt"></span> Call 123-4567</a>
  </div>
</footer>