<div class="row">
    <header class="text-center">
        <h1>Welcome to Gooday Cars&trade;!</h1>
        <br>
    </header>
    <p>Our company provides you with a car of your choise
        <br> and our loving care
        <span class="glyphicon glyphicon-heart red" aria-hidden="true"></span>
    </p>
    <p>
        <span style="color: aqua;" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Everyone can check our
        <a style="color: aqua;" routerLink="/cars">car catalog</a>
        <br> and save their favorite picks!

    </p>
    <p>
        <span style="color: rgb(238, 235, 87);" class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Only users can place an order
    </p>
    <p>
        <span style="color: rgb(175, 118, 32);" class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        For employees - sign in and use the navigation bar
    </p>
</div>